<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>2018级3班信息基础测试考试</title>
    <style>
        .description {
            margin-left : 600px;
            padding-top : 200px;
        }
        #welcome {
            float: left;
        }
        #content {
            width: 1024;
        }
        h2 {
            line-height: 50px;
        }
    </style>
</head>
<body>
    <div id="content">
        <img id="welcome" src="/image/welcome.jpg" alt="欢迎你">
        <div class="description">
            <h1 th:text="'谢谢, ' + ${firstname} +' ' + ${lastname}+ '! 欢迎你进入表单这章的学习。'"/>
            <h2>如果通过测试，我会第一时间通知你!</h2>
        </div>
    </div>
</body>
</html>